.fontFooter1{
    color: white!important;
    font-family: 'EB Garamond', sans-serif!important;
    text-align: justify;
    padding: 10px;
}

.fontFooter2{
    color: black;
    font-family: 'EB Garamond', sans-serif!important;
    text-align: right;
}

.fontFooter3{
    color: white!important;
    font-family: 'EB Garamond', sans-serif!important;
    text-align: center;
    padding: 10px;
}

.background{
    background-color: #27828C;
    font-family: 'EB Garamond', sans-serif!important;
    text-align: center;
}

.space{
    padding: 10px;
}

.space2{
    font-size: 60px!important;
    color: black;
    padding: 5px;

}

.center{
    align-items: center!important;
}
