.text-decorator-none{
    text-decoration: none;
}

.listaPostagem{
    background: rgb(191,225,233);
    background: linear-gradient(90deg, rgba(191,225,233,0.6699054621848739) 11%, rgba(158,188,221,1) 42%, rgba(124,188,203,0.896796218487395) 70%);
}