.flex{
    display: flex;
    margin-left: auto!important;
}

.inicio{
    background-color: white !important;
    height: 50px;
}

.fontNav1{
    color: black;
    text-decoration: none!important;
    height: 40px;
}

h6{
    font-family: 'EB Garamond', sans-serif!important;
}

.icon{
    color: black;
}

.text-decorator-none{
    text-decoration: none;
    color: black;
}

.menu{
    font-family: 'EB Garamond', sans-serif!important;
    color: black;
    font-size: 20px!important;
}
